<!-- <p>custom-loader works!</p> -->
<!-- <div class="loader-container" *ngIf="isLoading">
    <div class="logo-wrapper">
        <p>IIIIIIIIIIIIIIIIIIIIIIII</p>
        <img src="https://f.hubspotusercontent40.net/hubfs/5621549/check-loader-gif.gif" alt="Loading Logo" class="logo" />
        <span class="loading-text">Loading...</span>
    </div>
</div> -->
<div class="loader-overlay" *ngIf="isLoading">
    <div class="loadingio-spinner-ripple-nq4q5u6dq7r">
        <div class="ldio-x2uulkbinbj">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
